.listaProduseProm {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 30px;
    width: 100%;
    padding: 20px 0;
    align-items: flex-start;
}

.cardPromotii {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative; 
}

.PromotiiCanapea {
    max-width: 90%;
    max-height: 80%;
    object-fit: contain;
}

.procentReducere {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: #f27a7a; 
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.iconsProm {
    display: flex;
    gap: 15px;
    margin: 15px 0;
    opacity: 0.6; 
}

.iconsProm .icon {
    font-size: 18px;
    cursor: pointer;
}

.textProm {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px 0;
    color: #333;
}

.pretContainer {
     width: 116px;
    height: 35px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pretText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000;
}

.cardPromotii > div:first-child {
    position: relative;
    border-radius: 8px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
