@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.pagina-despreNoi {
    max-width: 900px; 
    margin: 60px auto;
    padding: 0 20px;
    font-family: 'Open Sans', sans-serif;
}

.continut-ingust {
    max-width: 750px; 
    margin: 0 auto;  
}

.text-despreNoi, 
.text2-despreNoi, 
.text3-despreNoi {
    font-size: 15px;
    color: #444;
    margin-bottom: 30px;
    line-height: 1.7;
}

.img-atelier, 
.lemn {
    width: 100%;
    height: auto;
    display: block;
    margin: 40px 0;
}

.lemn {
    max-width: 450px; 
    margin: 40px auto;
}
