h1 {
  font-size: 51.2px;
  line-height: 1.1;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  background-color: #f2f0ea;
  height: 700px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.headerStinga {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}

.subtitlu {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #333;
}

.titluComp {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 64px; 
    margin: 10px 0 30px 0;
    color: #1a202c;
    letter-spacing: 5.2px;
}

.promotiiBtn {
  width: 156px;
  height: 40px;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
}

.headerStinga a {
  text-decoration: none;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 24px;
}

.headerDreapta {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
} 
 
.cercDecorativ {
  width: 450px; 
  height: 450px;
  background-color: #d9e8d1; 
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scaun {
  width: 110%; 
  height: auto;
  z-index: 2;
}



