.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 470px;
    height: 470px;
    padding: 50px 40px 45px 40px;
    box-sizing: border-box;
}

.imagineContainer {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.canapea {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px; /* Redus de la 32px */
    font-weight: 400; /* Normal în loc de 600 (Semi Bold) */
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
    color: #000;
    letter-spacing: 1px; /* Puțin spațiu între litere */
}

.cumparaBtn {
    width: 156px;
  height: 40px;
  background-color: white;
  border: 1px solid #ccc; /* 50% DOAR BORDER */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}



