.sectiuneProduseProm {
    position: relative;
    margin-top: 100px;
    padding: 20px 5%;
    max-width: 1300px; 
    margin-left: auto;
    margin-right: auto;
}

.titluProm {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px; 
    font-weight: 300;
    line-height: 1.4;
    margin: 0 0 40px 0; 
    color: #444;
    letter-spacing: 1.2px;
    text-transform: none; 
    text-align: center;
}

.sageata-stanga, 
.sageata-dreapta {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 10;
    color: #333;
    
}

.sageata-stanga {
    left: 10px;
}

.sageata-dreapta {
    right: 10px;
}
